<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Brand</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand" href="/">Dashbord</a></li>
        <li><%= link_to 'Profile', current_user %></li> <!-- needs to be edited. -->
       <!--  <li><a class="navbar-brand" href="#">Logout</a></li>
        <li><a class="navbar-brand" href="#">Login</a></li>
        <li><a class="navbar-brand" href="#">Signup</a></li> -->
        <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </ul>
  </div>
</div>
